<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>D3 Network Graph - Damocles</title>

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
        <script src="dng-viz.min.js"></script>
    </head>
    <body>
        <div id="demo-title">
            D3 Network Graph - Damocles
            <div id="demo-options"></div>
        </div>
        <div id="demo-container">
            <div id="demo-target"></div>
        </div>
    </body>
</html>
