.dng-viz {
  width: 100%;
  height: 100%;

  svg {
    width: 100%;
    height: 100%;

    .scene {
      fill: none;
    }

    .node {
      fill: none;

      circle {
        cursor: pointer;
      }

      &.node-people {
        stroke: #5A5;
        fill: #5A5;
        stroke-width: 1px;
      }

      &.node-organization {
        stroke: #B40;
        fill: #B40;
        stroke-width: 3px;
      }

      &:hover {
        fill-opacity: .5;
      }
    }

    .connection {
      stroke-width: 2px;
      stroke: #333;
      &.connection-dotted {
        stroke-dasharray: 6 3;
      }
    }
  }
}
