.dng-viz {
  width: 100%;
  height: 100%;

  & > svg {
    width: 100%;
    height: 100%;

    .scene {
      fill: none;
      pointer-events: all;
    }

    .nodes {
      .node {
        fill: none;

        &:hover, &.selected {
          circle {
            cursor: pointer;
            fill: white !important;
            stroke: currentColor;
          }

          .label {
            display: unset !important;
            font-weight: bolder;
          }
        }

        &.related {
          .label {
            font-weight: bold;
          }
        }

        &.related, &.selected, &:hover {
          .label {
            text-shadow: -1px -1px 1px white,
            1px 1px 1px white,
            -1px 1px 1px white,
            1px -1px 1px white;
          }
        }

        circle {
          fill: currentColor;
        }

        text {
          pointer-events: none !important;
          text-anchor: middle;
          fill: currentColor;
        }

        &.node-people {
          color: #55AA55;
        }

        &.node-organization {
          color: #BB4400;
          text {
            font-weight: bold;
          }
        }
      }
    }

    .connection {
      pointer-events: none !important;
      stroke: #333333;
      &.connection-dotted {
        stroke-dasharray: 5 3;
      }
    }
  }
}
