.dng-viz {
  width: 100%;
  height: 100%;

  svg {
    width: 100%;
    height: 100%;

    .scene {
      fill: none;
      pointer-events: all;
    }

    .node {
      fill: none;

      &:hover, &.selected {
        circle {
          cursor: pointer;
          fill: white !important;
          stroke: currentColor;
        }
      }

      circle {
        fill: currentColor;
      }

      text {
        pointer-events: none !important;
        text-anchor: middle;
        fill: currentColor;
      }

      &.node-people {
        color: #5A5;
      }

      &.node-organization {
        color: #B40;
        text {
          font-weight: bold;
        }
      }
    }

    .connection {
      stroke: #333;
      &.connection-dotted {
        stroke-dasharray: 5 3;
      }
    }
  }
}
